@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    font-family: $mainfont;
    font-weight: 400;
    font-size: 16px;
}
.container-top{
    color: white;
    border-radius: 0 0 12px 12px;
    background: var(--Gradient-Supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
}
.container{
    padding: 0 30px;
}