
@import 'variables';
@import 'mixins';
@import 'global';

@import "layout/header";
@import "layout/banner";
@import "layout/contactform";
@import "layout/about";


.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 30px;
  @include min-screen(648px){
    padding: 60px 60px;
  }
  

 
.scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
  .experience-scroll {
  display: flex;
  gap: 20px;
   
  li {
  flex: none;
  font-size: 30px;
  font-weight: 700;
  a{
   color: #b3b3ba; 
  }
  }
  li .current{
    background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
 
}

}
  .line-vert {
      height: 4px;
      width: 90%;
      background: rgba(255,255,255,0.3);
    }


  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    h3 {
      font-size: 20px;
      font-weight: 700;
      @include min-screen(648px){
        font-size: 30px;
      }
    }

    p {
      font-size: 19px;
      width: 100%;
    }
  }

  // Desktop
  @include min-screen(1024px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px 60px;
    .scroll-wrapper{ 
      flex: 0 0 400px;
      -webkit-overflow-scrolling: none; 
      white-space: normal;
      .experience-scroll{
        display: flex;
        flex-direction: column;
        text-align: right;
       gap: 30px;
        font-size: 38px;
        li{
             text-align: right;
             font-size: 38px; 
             font-weight: 700; 
             transition: 0.4s;     
    }
    li:hover a{ 
        color: $activecolor;
     }
      } 
    }

    .line-vert {
      display: flex;
      width: 4px;
      height: 250px;
      background: rgba(255,255,255,0.3);
    }

    .description {
      flex: 1;
      max-width: 830px;
     justify-content: space-between;
        align-items: flex-start;
      

      h3 { font-size: 30px; }
      p {
         font-size: 19px; 
        width: 100%;
        align-self: stretch;
}
    }
  }
}
     .activeLink{
        display: flex;
        gap: 5px;
        align-items: center;
        transition: 0.4s;
        margin-bottom: 10px;
         a{
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
          color: $maincolor;  
          transition: 0.4s;
        }
        svg path{
            transition: 0.4s;
        }
        &:hover{
            a{
                color: $activecolor;
            }
            svg path{
                stroke: $activecolor;
            }
        }

     }
      .services {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 30px 30px;
  @include min-screen(648px){
    padding: 0 60px 60px;
  }
  
  
  h2 {
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(90deg, #F0145A, #EF8080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-item {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 40px;

    .item1, .item2, .item3, .item4, .item5, .item6 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &::before {
        content: "";
        width: 72px;
        height: 72px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 20px;
      }

      h4 {
        font-size: 22px;
        font-weight: 700;
        color: $maincolor;
        margin-bottom: 10px;
      a{
        color: $maincolor;
      }
      a:hover{
        color: $activecolor;
      }
      }

      p {
        font-family: $mainfont;
        color: var(--Basic-White, #FFF);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; 
        
      }
    }

    .item1::before { background-image: url(../img/homepage/Icon1.svg); }
    .item2::before { background-image: url(../img/homepage/Icon2.svg); }
    .item3::before { background-image: url(../img/homepage/Icon3.svg); }
    .item4::before { background-image: url(../img/homepage/Icon4.svg); }
    .item5::before { background-image: url(../img/homepage/Icon5.svg); }
    .item6::before { background-image: url(../img/homepage/Icon6.svg); }
  }

  /* TABLET */
  @include min-screen(648px) {
    &-item {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      

      
    }
  }

  /* DESKTOP */
  @include min-screen(1024px) {
    padding: 0 60px 60px;
     &-item {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      

      
    }
    h2 {
      font-size: 38px;
    }

    &-item {
      gap: 60px;

      .item1, .item2, .item3, .item4, .item5, .item6 {
        

        h4 { font-size: 22px; }
        p { font-size: 16px; line-height: 26px; }

        &::before {
          width: 92px;
          height: 92px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
.border1{
border-radius: 0 0 12px 12px;
background: #CACADB;
width: 95%;
height: 10px;
margin: 0 auto;
}
.border2{
border-radius: 0 0 12px 12px;
background: #E7E7F2;
width: 90%;
height: 10px;
margin: 0 auto;
}

  
.carousel-slider {
    padding: 30px;
   
   .carousel-post {
    display: flex;
    flex-direction: column;
    background: var(--Grey-Bg, #F5F5FA);
    border-radius: 12px;
   img {
    border-radius: 12px 12px 0 0;
      width: 100%;
      object-fit: cover;
    }
  .carousel-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px;
      align-self: stretch;
      

h4 {
        background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 30px;
      }
     .name {
        color: var(--Grey-Text,#B3B3BA);
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
      }

    p {
        color: var(--Grey-Text, #B3B3BA);
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  @include min-screen(648px){
    padding: 60px 60px 30px;
.carousel-post{
  max-width: fit-content;
}
  }
  @include min-screen(1024px){
       .carousel-post{
        display: flex;
        flex-direction: row;
    img{
        border-radius: 12px 0 0 12px;
    }
    h4{
        font-size: 38px;
    }
       }
    
  }
}
.owl-dots{
    text-align: center;
      .owl-dot{
       span{ 
        display: inline-block;
        gap: 15px;
        height: 12px;
        width: 12px;
        margin: 10px;
        border-radius: 50%;
        background-color: lightblue;
        
    }  
    &.active{
        span{
            background-color: $maincolor;
        }
    }  
  }
}
.sponsors{
    padding-top: 30px;
        p{
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #323264;
            margin-bottom: 32px;
        }
        .sponsors-grid{
         display: grid;
         grid-template-columns: 1fr;
         width: 100%;
         .sponsor{
          height: 120px;            
          display: flex;
          justify-content: center;
          align-items: center;
         }
        
     
    img {
      max-width: 70%;
    max-height: 70%;

    }
}
.sponsor:nth-child(n+7) {
  display: none;
}
@include min-screen(500px) {
    .sponsors-grid {
    grid-template-columns: repeat(2, 1fr);
     .sponsor {
    display: flex ;
  }
  }
}
@include min-screen(648px) {
    .sponsors-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include min-screen(904px) {
    .sponsors-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
 
    @include min-screen(1024px) {
    .sponsors-grid {
    grid-template-columns: repeat(4, 1fr);
    img {
      opacity: 0.7;
      transition: 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }
  }
}
.publications {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: var(--Grey-Bg, #F5F5FA);
  padding: 30px 30px;

 
  h2 {
    font-size: 30px;
    font-weight: 700;
    background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }


  &-post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

 
  .publication-postItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .post-info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px;

      h3 {
        font-size: 16px;
        font-weight: 700;
        color: $maincolor;
      }

      span {
        color: #B3B3BA;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .line {
        height: 4px;
        background: #E6E6F0;
        width: 100%;
      }

      p {
        color: #000;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

 
  @include min-screen(648px) {
    padding: 30px 60px;
    .publications-post{
      grid-template-columns: repeat(2, 1fr);
    }
     
  .publication-postItem:nth-child(3) {
    grid-column: 1 / 3;  
  }
    h2 {
      font-size: 34px;
      
    }
  }

  
   @include min-screen(1024px) {
    .publications-post{
      grid-template-columns: repeat(3, 1fr);
    }
    h2 {
      font-size: 38px;
      
    }

    .publication-postItem:nth-child(3) {
      grid-column: auto;

      img {
        height: 220px;
      }

      .post-info {
        padding: 30px;
      }
    }
  }
}

@import './layout/footer';