@import "/style/reset.css";
@import "base/variables";
@import "base/mixins";
@import "base/global";


@import "layout/header";
@import "layout/banner";
@import "layout/footer";


@import "components/experience";
@import "components/services";
@import "components/carousel";
@import "components/sponsors";
@import "components/publications";


@import "pages/home";

.header-desktop{
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 32px;
    padding-left: 60px;
    padding-right: 60px;
    
    nav a.active{
        background: $activecolor;
    }
    
    .header-contact{
        display: flex;
        flex-direction: column;
        gap: 18.5px;
    }
    .contact-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
    }
    .lang ul{
        display: flex;
            li{
            color: #FFF;
            text-align: center;
            border-radius: 8px;
            background: transparent;
            padding: 5px 7px;
            
            a .active{
            background: $activecolor;
            }
            }
             
            li:hover{
            background: rgba(255, 255, 255, 0.20);
            }
            a{
                font-family: $mainfont;
                font-size: 12px;
                font-weight: 700;   
            }
            
    }
    .contact{
        color: #FFF;
        font-weight: 400;
            ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
        }
            .phone{
            font-weight: 700;
        }
         .facebookLogo:hover path{
        fill: $activecolor;
        }
    }   
    .desctop-nav ul{
        display: flex;
        justify-content: space-between;
        gap: 15px;
            a{
        color: #FFF;
        font-weight: 700;
        } 
        li::after{
            display: block;
            content: "";
            width: 0;
            height: 2px;
            background-color: white;
            transition: 0.4s;
            
        }
        li:hover::after{
            width: 100%;
        }
        
    }
}  

     .activeLink{
        display: flex;
        gap: 5px;
        align-items: center;
        transition: 0.4s;
        margin-bottom: 10px;
         a{
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
          color: $maincolor;  
          transition: 0.4s;
        }
        svg path{
            transition: 0.4s;
        }
        &:hover{
            a{
                color: $activecolor;
            }
            svg path{
                stroke: $activecolor;
            }
        }

     }
  
.carousel {
  
  .carousel-post {
    display: flex;
    border-radius: 12px;
    background: var(--Grey-Bg, #F5F5FA);;
    img {
      width: 50%;
      object-fit: cover;
    }
    .carousel-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px;

      h4 {
        background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 38px;
        font-weight: 700;
      }
      .name {
        color: var(--Grey-Text,#B3B3BA);
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p {
        color: var(--Grey-Text, #B3B3BA);
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

     footer{
        background: var(--Grey-Bg, #F5F5FA);
    
      .line-bottom{
            height: 2px;
            align-self: stretch;
           background: var(--Grey-Separator, #E6E6F0); 
           margin-bottom: 30px;
        } 
        .footer-desctop{
            display: flex;
            justify-content: space-between;
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 21px;
        .contactMap{
            display: flex;
            gap: 10px;
            align-items: center;
            p{
                color: var(--Main-Regular, #323264);
                font-size: 16px;
                font-weight: 400;
            }
            span a{
                color: $maincolor;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
        .contactOptions{
            display: flex;
            gap: 10px;
            align-items: center;
            span a{
                color: var(--Main-Alt, #46466E);
                text-align: right;
                font-size: 16px;
                font-weight: 700;
            }
            a{
               color:$maincolor;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
    .contactText{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        p{
            color: var(--Grey-Text, #B3B3BA);
            text-align: right;
            font-size: 16px;
            font-weight: 400;
        }

    }
        }
    
    }