
@import 'variables';
@import 'mixins';
@import 'global';


@import "layout/banner";

header{
.header-desktop{
        display: none;
    }
.header-mobile{
    display: flex;
    flex-direction: column;
    top: 0;  
    width: 100%;
    position: absolute;
    z-index: 1;
    

    .top-header{
       display: flex; 
       justify-content: space-between;
       align-items: center;
       padding: 10px 15px;
       background: rgba(245, 245, 250, 0.20);
       
       .lang ul{
        display: flex;
        li{
            text-align: center;
            border-radius: 8px;
            background: transparent;
            padding: 5px 7px;
        }
            a{
            font-weight: $mainfont;
            color: #FFF;
            font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;
                text-align: center;
            }
             a .active{
            background: $activecolor;
            }  
    }

    .phone{
        font-weight: 700;
        color: #FFF;
    }
    }
    .bottom-header {
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
.hamburger {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  span {
    background: white;
  height: 2px;
  width: 100%;

}
}
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(50, 50, 100, 0.55);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  z-index: 900;
}

.overlay.open {
  visibility: visible;
  opacity: 1;
}
.mobile-menu {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 12px;
  background: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -10px 35px rgba(0, 0, 0, 0.1);
  transition: bottom 0.45s ease;
  z-index: 1000;

.menu-header {
  display: flex;
  justify-content: flex-end;
 .close-btn {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: #e83f57;
} 
}
ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}
li {
  margin-bottom: 12px;
}
 a {
  display: block;
  padding: 10px 20px;
  border-radius: 12px;
  background: #f5f5f9;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  color: $maincolor;
  font-weight: 700;
}
li:active a {
background: var(--Grey-Separator, #E6E6F0);
}
a.current {
  color: $activecolor
}
}
 .mobile-menu.open {
  bottom: 0;
}
}
@include min-screen(1200px){
.header-mobile{
    display: none;
}
.header-desktop{
     width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 32px;
    padding-left: 60px;
    padding-right: 60px;
    
    nav a.active{
        background: $activecolor;
    }
    
    .header-contact{
        display: flex;
        flex-direction: column;
        gap: 18.5px;
    }
    .contact-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
    }
    .lang ul{
        display: flex;
            li{
            color: #FFF;
            text-align: center;
            border-radius: 8px;
            background: transparent;
            padding: 5px 7px;
            
            a .active{
            background: $activecolor;
            }
            }
             
            li:hover{
            background: rgba(255, 255, 255, 0.20);
            }
            a{
                font-family: $mainfont;
                font-size: 12px;
                font-weight: 700;   
            }
            
    }
    .contact{
        color: #FFF;
        font-weight: 400;
            ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
        }
            .phone{
            font-weight: 700;
        }
         .facebookLogo:hover path{
        fill: $activecolor;
        }
    }   
    .desctop-nav ul{
        display: flex;
        justify-content: space-between;
        gap: 15px;
            a{
        color: #FFF;
        font-weight: 700;
        } 
        li::after{
            display: block;
            content: "";
            width: 0;
            height: 2px;
            background-color: white;
            transition: 0.4s;
            
        }
        li:hover::after{
            width: 100%;
        }
        
    }
}
}
} 
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 30px;
  margin-bottom: 40px;

 
.scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
  .experience-scroll {
  display: flex;
  gap: 20px;
   
  li {
  flex: none;
  font-size: 30px;
  font-weight: 700;
  a{
   color: #b3b3ba; 
  }
  }
  li .current{
    background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
 
}

}
  .line-vert {
      height: 4px;
      width: 90%;
      background: rgba(255,255,255,0.3);
    }


  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    h3 {
      font-size: 20px;
      font-weight: 700;
    }

    p {
      font-size: 19px;
      width: 100%;
    }
  }

  // Desktop
  @include min-screen(1024px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    .scroll-wrapper{ 
      width: auto;
      -webkit-overflow-scrolling: none; 
      white-space: normal;
      .experience-scroll{
        display: flex;
        flex-direction: column;
        text-align: right;
       gap: 30px;
        font-size: 38px;
        li{
             text-align: right;
             font-size: 38px; 
             font-weight: 700; 
             transition: 0.4s;     
    }
    li:hover a{ 
        color: $activecolor;
     }
      } 
    }

    .line-vert {
      display: flex;
      width: 4px;
      height: 250px;
      background: rgba(255,255,255,0.3);
    }

    .description {
     justify-content: space-between;
        align-items: flex-start;
      max-width: 581px;

      h3 { font-size: 30px; }
      p {
         font-size: 19px; 
        width: 100%;
}
    }
  }
}
     .activeLink{
        display: flex;
        gap: 5px;
        align-items: center;
        transition: 0.4s;
        margin-bottom: 10px;
         a{
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
          color: $maincolor;  
          transition: 0.4s;
        }
        svg path{
            transition: 0.4s;
        }
        &:hover{
            a{
                color: $activecolor;
            }
            svg path{
                stroke: $activecolor;
            }
        }

     }
     .services {
  display: flex;
  flex-direction: column;
  padding: 0 30px 30px;
  
  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    background: linear-gradient(90deg, #F0145A, #EF8080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .item1, .item2, .item3, .item4, .item5, .item6 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &::before {
        content: "";
        width: 72px;
        height: 72px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 20px;
      }

      h4 {
        font-size: 20px;
        font-weight: 700;
        color: $maincolor;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        line-height: 22px;
      }
    }

    .item1::before { background-image: url(../img/homepage/Icon1.svg); }
    .item2::before { background-image: url(../img/homepage/Icon2.svg); }
    .item3::before { background-image: url(../img/homepage/Icon3.svg); }
    .item4::before { background-image: url(../img/homepage/Icon4.svg); }
    .item5::before { background-image: url(../img/homepage/Icon5.svg); }
    .item6::before { background-image: url(../img/homepage/Icon6.svg); }
  }

  /* TABLET */
  @include min-screen(768px) {
    &-item {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: space-between;

      .item1, .item2, .item3, .item4, .item5, .item6 {
        max-width: calc(50% - 20px);
      }
    }
  }

  /* DESKTOP */
  @include min-screen(1200px) {
    h2 {
      font-size: 38px;
      margin-bottom: 60px;
    }

    &-item {
      gap: 60px;

      .item1, .item2, .item3, .item4, .item5, .item6 {
        max-width: 493px;

        h4 { font-size: 22px; }
        p { font-size: 16px; line-height: 26px; }

        &::before {
          width: 92px;
          height: 92px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
  
.carousel-slider {
    padding: 30px;
   
   .carousel-post {
    display: flex;
    flex-direction: column;
    background: var(--Grey-Bg, #F5F5FA);
    border-radius: 12px;
   img {
    border-radius: 12px 12px 0 0;
      width: 100%;
      object-fit: cover;
    }
  .carousel-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px;
      align-self: stretch;
      

h4 {
        background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 30px;
      }
     .name {
        color: var(--Grey-Text,#B3B3BA);
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
      }

    p {
        color: var(--Grey-Text, #B3B3BA);
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  @include min-screen(648px){
.carousel-post{
  max-width: fit-content;
}
  }
  @include min-screen(1024px){
       .carousel-post{
        display: flex;
        flex-direction: row;
    img{
        border-radius: 12px 0 0 12px;
    }
    h4{
        font-size: 38px;
    }
       }
    
  }
}
.owl-dots{
    text-align: center;
      .owl-dot{
       span{ 
        display: inline-block;
        gap: 15px;
        height: 12px;
        width: 12px;
        margin: 10px;
        border-radius: 50%;
        background-color: lightblue;
        
    }  
    &.active{
        span{
            background-color: $maincolor;
        }
    }  
  }
}
.sponsors{
    padding-top: 30px;
        p{
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #323264;
            margin-bottom: 32px;
        }
        .sponsors-grid{
         display: grid;
         grid-template-columns: 1fr;
         width: 100%;
         .sponsor{
          height: 120px;                     // мобілка
          display: flex;
          justify-content: center;
          align-items: center;
         }
        
     
    img {
      max-width: 70%;
    max-height: 70%;

    }
}
.sponsor:nth-child(n+7) {
  display: none;
}
@include min-screen(500px) {
    .sponsors-grid {
    grid-template-columns: repeat(2, 1fr);
     .sponsor {
    display: flex ;
  }
  }
}
@include min-screen(648px) {
    .sponsors-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include min-screen(904px) {
    .sponsors-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
 
    @include min-screen(1024px) {
    .sponsors-grid {
    grid-template-columns: repeat(4, 1fr);
    img {
      opacity: 0.7;
      transition: 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }
  }
}
.publications {
  background: var(--Grey-Bg, #F5F5FA);
  padding: 30px 30px;

 
  h2 {
    font-size: 28px;
    font-weight: 700;
    background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
  }


  &-post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

 
  .publication-postItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .post-info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px;

      h3 {
        font-size: 16px;
        font-weight: 700;
        color: $maincolor;
      }

      span {
        color: #B3B3BA;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .line {
        height: 4px;
        background: #E6E6F0;
        width: 100%;
      }

      p {
        color: #000;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

 
  @include min-screen(648px) {
    .publications-post{
      grid-template-columns: repeat(2, 1fr);
    }
     
  .publication-postItem:nth-child(3) {
    grid-column: 1 / 3;  
  }
    h2 {
      font-size: 34px;
      margin-bottom: 50px;
    }
  }

  
   @include min-screen(1024px) {
    .publications-post{
      grid-template-columns: repeat(3, 1fr);
    }
    h2 {
      font-size: 38px;
      margin-bottom: 60px;
    }

    .publication-postItem:nth-child(3) {
      grid-column: auto;

      img {
        height: 220px;
      }

      .post-info {
        padding: 30px;
      }
    }
  }
}

@import './layout/footer'