.about-main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include min-screen(648px){
    gap: 60px;
    }
    h2{
        font-size: 30px;
        font-weight: 700;
        background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
 .about-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    .intro{
        flex: 1;
        align-items: stretch;
        h2{
            margin-bottom: 28px;
        }
        p{
            color: var(--Basic-Black, #000);
            font-size: 19px;
            font-weight: 400;
            line-height: 30px;
        }
    }
    .about-exp{
        display: flex;
        gap: 30px;
 .line-item{
    width: 4px;
    align-self: stretch;
    background: var(--Grey-Separator, #E6E6F0);
 }
 .about-items{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;

    .about-item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        p{
            color: var(--Main-Regular, #323264);
            font-size: 16px;
            font-weight: 400;
        }
        .numbers{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
         h3{
            text-align: center;
            font-size: 36px;
            font-weight: 700;
          background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;  
        }
        }
        
    }
 }
    }
     @include min-screen(648px){
    padding: 60px 60px 0;
    
 }
    @include min-screen(1024px){
    display: flex;
    flex-direction: row;
    
 }
 }
 .about-banner{
  aspect-ratio: 1920/800;
    background: url("../img/Team.png") lightgray 50% / cover no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    span{
        color: var(--Basic-White, #FFF);
        text-align: center;
        text-shadow: 0 15px 30px rgba(40, 40, 86, 0.80);
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 13px;
        text-transform: uppercase;
        opacity: 0.8;
    }
 }
 .about-description{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 30px 30px;
    .text{
        flex: 1;
    }
    .heading{
        flex: 1;
    }
@include min-screen(648px){
    padding: 0px 60px 60px;
   }
   
    @include min-screen(1024px){
    display: flex;
    flex-direction: row;
    
 }
 }
}
.achievements{
    background: var(--Grey-Bg, #F5F5FA);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 60px;
   span{
    
    color: var(--Main-Regular, #323264);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

   }
   .card {
   width: 255px;
   height: 90px;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--Basic-White, #FFF);
    margin: 0 auto;

    img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}
 @include min-screen(648px){
    width: 111px;
    gap: 40px;
 }
 @include min-screen(1024px){
    width: 196px;
    height: 110px;
    
 }
  @include min-screen(1315px){
    width: 300px;
    
    
 }
   }
   
}