.line-bottom{ 
        height: 2px;
         align-self: stretch; 
         background: var(--Grey-Separator, #E6E6F0); 
         margin-bottom: 30px; 
        } 
footer{
     background: var(--Grey-Bg, #F5F5FA); 
     
     
        .footer-desctop{
             display: flex; 
             flex-direction: column;
             justify-content: space-between;
             align-items: center;
             gap: 30px;
             

              .contact{ 
                display: flex; 
                flex-direction: column; 
                justify-content: space-between; 
                gap: 21px; 
                
                .contactMap{ 
                    display: flex;
                    flex-direction: column;
                     gap: 10px;
                      align-items: center;
                    
                      svg{
                        display: none;
                      }
                       p{ 
                        color: var(--Main-Regular, #323264);
                         font-size: 16px; 
                         font-weight: 400; 
                        } 
                        span a{ 
                            color: $maincolor; 
                            font-size: 12px; 
                            font-weight: 700; 
                            letter-spacing: 1px;
                             text-transform: uppercase; }
                            
                        } 
                        .contactOptions{ 
                            display: flex;
                            flex-direction: column;
                             gap: 10px; 
                             align-items: center; 
                             .dot{
                                display: none;
                             }

                             span a{ 
                                color: var(--Main-Alt, #46466E);
                                 text-align: right; 
                                 font-size: 16px; 
                                 font-weight: 700; 
                                } 
                                a{ 
                                    color:$maincolor; 
                                    font-size: 16px; 
                                    font-weight: 700;
                                 } 
                                } 
                            } 
                            .contactText{ 
                                display: flex; 
                                justify-content: center; 
                                align-items: center;
                                 p{ 
                                    color: var(--Grey-Text, #B3B3BA); 
                                    text-align: right; 
                                    font-size: 16px; 
                                    font-weight: 400;
                                 } 
                                } 
                            } 
                        }
