.footer {
  background: var(--gray-900);
  color: #fff;
  padding: 48px 0;

  &__top {
    text-align: center;
    margin-bottom: 32px;

    &-title {
      font-size: 22px;
      font-weight: 700;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    a {
      color: var(--gray-300);
      font-size: 14px;
      transition: 0.3s;

      &:hover {
        color: #fff;
      }
    }
  }

  &__bottom {
    margin-top: 32px;
    text-align: center;
    font-size: 12px;
    color: var(--gray-500);
  }

  @include min-screen(768px) {
    padding: 64px 0;

    .footer__links {
      flex-direction: row;
      justify-content: center;
      gap: 32px;
    }
  }

  @media (min-width: 1024px) {
    padding: 80px 0;
  }
}