
header{
.header-desktop{
        display: none;
    }
.header-mobile{
    display: flex;
    flex-direction: column;
    top: 0;  
    width: 100%;
    position: absolute;
    z-index: 1;
    
.desctop-nav{
  display: none;
}
    .top-header{
       display: flex; 
       justify-content: space-between;
       align-items: center;
       padding: 10px 15px;
       background: rgba(245, 245, 250, 0.20);

       .contact{
        display: none;
       }
       .lang ul{
        display: flex;
        li{
            text-align: center;
            border-radius: 8px;
            padding: 5px 7px;
        }
            a{
            font-family: $mainfont;
            color: #FFF;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
             text-align: center;
            }
             li:active{
            background: $activecolor;
            
            }  
    }

    .phone{
        font-weight: 700;
        color: #FFF;
    }
    }
    .bottom-header {
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
.hamburger {
  cursor: pointer;

 svg{
  width: 32px;
  height: 32px;
 }
}

}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(50, 50, 100, 0.55);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  z-index: 9999;
}

.overlay.open {
  visibility: visible;
  opacity: 1;
}
.mobile-menu {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 12px;
  background: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -10px 35px rgba(0, 0, 0, 0.1);
  transition: bottom 0.45s ease;
  z-index: 10000;

.menu-header {
  display: flex;
  justify-content: flex-end;
 .close-btn {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: #e83f57;
} 
}
ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}
li {
  margin-bottom: 12px;
}
 a {
  display: block;
  padding: 10px 20px;
  border-radius: 12px;
  background: #f5f5f9;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  color: $maincolor;
  font-weight: 700;
}
li:active a {
background: var(--Grey-Separator, #E6E6F0);
}
a.current {
  color: $activecolor
}
}
 .mobile-menu.open {
  bottom: 0;
}
}
@include min-screen(648px) {
  @include max-screen(1023px) {
  .header-mobile{
     display: flex;
     flex-direction: column;
     gap: 30px;
     padding: 50px 60px 0 60px;
     .top-header{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 6px;
      background: transparent;
      padding: 0px;
      .lang ul{
         li:hover{
            background: rgba(255, 255, 255, 0.20);
            z-index: 10000;
            }
            li:active {
              background: $activecolor;
            }
      }
      .contact{
        display: flex;
        gap: 6px;
        color: #FFF;
        font-weight: 400;
            ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
      li{
        display: flex;
        align-items: center;
        gap: 6px;
      }
        }
        a.adress{
          color: #FFF;
        font-weight: 400;
        font-size: 16px;
        }
           a.phone{
            color: #FFF;
            font-weight: 700;
            font-family: "Montserrat", sans-serif;
        }
         .facebookLogo:hover path{
        fill: $activecolor;
        }
      }
      .contact-mob{
        display: none;
      }
    }
      .bottom-header{
        display: flex;
        padding: 0px;
          .hamburger{
            display: none;
          }
  }
  .desctop-nav{
          display: block;
            ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
            a{
        color: #FFF;
        font-weight: 700;
        } 
        li::after{
            display: block;
            content: "";
            width: 0;
            height: 2px;
            background-color: white;
            transition: 0.4s;
            
        }
        li:hover::after{
            width: 100%;
        }
        
    }
        }
  }
}
}
@include min-screen(1024px){
.header-mobile{
  display: none;
}
.header-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
   width: 100%;
    position: absolute;
    z-index: 1;
    padding: 50px 60px 0 60px;
    
    nav a.active{
        background: $activecolor;
    }
    
    .header-contact{
        display: flex;
        flex-direction: column;
        gap: 18.5px;
    }
    .contact-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
    }
    .lang ul{
        display: flex;
            li{
            color: #FFF;
            text-align: center;
            border-radius: 8px;
            padding: 5px 7px;
            
            }
              li:active{
            background: $activecolor;
            a{
              color: white;
            }
            }
            
            li:hover{
            background: rgba(255, 255, 255, 0.20);
            
            }
            li:active {
              background: $activecolor;
            }
            a{
                font-family: $mainfont;
                font-size: 12px;
                font-weight: 700;   
            }
            
    }
    .contact{
        color: #FFF;
        font-weight: 400;
            ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
        li{
        display: flex;
        align-items: center;
        gap: 6px;
      }
        }
        a.adress{
          color: #FFF;
        font-weight: 400;
        font-size: 16px;
        }
           a.phone{
            color: #FFF;
            font-weight: 700;
            font-family: "Montserrat", sans-serif;
        }
         .facebookLogo:hover path{
        fill: $activecolor;
        }
    }   
    .desctop-nav ul{
        display: flex;
        justify-content: space-between;
        gap: 15px;
            a{
        color: #FFF;
        font-weight: 700;
        } 
        li::after{
            display: block;
            content: "";
            width: 0;
            height: 2px;
            background-color: white;
            transition: 0.4s;
            
        }
        li:hover::after{
            width: 100%;
        }
        
    }
}
}
} 
body.inner-page header,
body.inner-page .header-desktop,
body.inner-page .header-mobile {
  position: static; 

}
body.inner-page{
  .header-mobile{
    .top-header{
       background: var(--Grey-Bg, #F5F5FA);

       .lang ul li:active a{
        color: white;
       }
       .lang ul li a{ 
            color: var(--Grey-Text, #B3B3BA);
            }
            .contact-mob a{
              color: var(--Grey-Text, #B3B3BA);
            }
     
      }
  }
 @include min-screen(648px) {
        @include max-screen(1023px){
          .header-mobile{
            .top-header{
        background: transparent;
        .lang ul{
         li:hover{
            background: #F5F5FA;
            }
      }
        .contact {
            ul{  
      li{ 
        color: var(--Grey-Text, #B3B3BA) 
      }
        }
        a.adress{
          color: var(--Grey-Text, #B3B3BA);
        
        }
           a.phone{
            color: var(--Grey-Text, #B3B3BA);
            
        }
        
         .facebookLogo:hover path{
        fill: $activecolor;
        }
      }
            }
          }
    }     
        }
        @include min-screen(1024px){
      .header-desktop{
    .header-contact{
    .contact-info{
        .lang ul{
            li{
            color: var(--Grey-Text, #B3B3BA);
            }
            li:active{
              background: $activecolor;
        color: white;
       }
            li:hover{
            background: #F5F5FA;
            }      
    }
          .contact {
            ul{  
      li{ 
        color: var(--Grey-Text, #B3B3BA) 
      }
        }
        a.adress{
          color: var(--Grey-Text, #B3B3BA);
        
        }
           a.phone{
            color: var(--Grey-Text, #B3B3BA);
            
        }
        
      }
    }
    
    }
  }
        }
}
 
body.inner-page .desctop-nav ul a {
  color: $maincolor;
}

body.inner-page .desctop-nav ul li::after {
  background-color: #f0145a; 
}
body.inner-page .desctop-nav ul li:hover a {
  color: $activecolor;
}
body.inner-page .logoPage {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  @include min-screen(648px){
  img{
    width: 130px;
    height: 60px;
  }
  svg{
    width: 21px;
    height: 47px;
  }
}
}

body.inner-page .logoPage::after {
  content: attr(data-page-title);
  color: var(--Main-Regular, #323264);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
   @include min-screen(648px){
          font-size: 36px;
}
}
body.contact-page .logoPage {
  --title: "contact";
}