.team{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    @include min-screen(780px){
        gap: 60px;
        padding: 60px;
    }

    h2{
        font-size: 30px;
        font-weight: 700;
        background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include min-screen(648px){
            font-size: 38px;
        }
    }
    .team-list{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        @include min-screen(405px){
            grid-template-columns: repeat(2, 1fr);
        }
        @include min-screen(1020px){
            grid-template-columns: repeat(3, 1fr);
        }
        .team-card{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 15px;
            .team-photo{
                align-self: stretch;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 300px;
                border-radius: 12px;
                @include min-screen(648px){
                    height: 400px;
                }
                
            }
            .img1 { background-image: url("../img/Team-1.png");  }
            .img2 { background-image: url("../img/Team-2.png");  }
            .img3 { background-image: url("../img/Team-3.png");  }
            .img4 { background-image: url("../img/Team-4.png");  }
            .img5 { background-image: url("../img/Team-5.png");  }
            .img6 { background-image: url("../img/Team-6.png");  }


            .team-info{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;
                span{
                    display: inline-block;
                    color: var(--Main-Regular, #323264);
                    font-size: 16px;
                    font-weight: 700;
                }
                p{
                  color: var(--Grey-Text, #B3B3BA);
                    font-size: 14px;
                    font-weight: 400;
                }
                
            }
            .team-info:hover span{
                color: $activecolor;
            }
            .team-info:hover svg path{
                stroke: $activecolor;
            }
        }
    }
}