.experience {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;

  .experience-list nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      text-align: left;
      font-size: 26px;
      a { color: #b3b3ba; }
    }

    li:hover a { color: $activecolor; }
  }

  .line-vert {
    display: none;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
      font-size: 24px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
    }
  }

  // Desktop
  @include min-screen(1200px) {
    flex-direction: row;
    justify-content: center;
    gap: 60px;

    .experience-list nav ul li {
      text-align: right;
      font-size: 38px;
    }

    .line-vert {
      display: block;
      width: 4px;
      height: 300px;
      background: rgba(255,255,255,0.3);
    }

    .description {
      max-width: 580px;

      h3 { font-size: 30px; }
      p { font-size: 19px; }
    }
  }
}