.sponsors{
        p{
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #323264;
            margin-bottom: 32px;
        }
        .sponsors-list{
         display: flex;
         flex-direction: column;
         align-items: center;

    img {
      max-width: 100%;
      height: auto;
      opacity: 0.7;
      transition: 0.3s;

      &:hover {
        opacity: 1;
      }
    }
}
.sponsors-list{
@include min-screen(768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; 
  }
}
 .sponsors__list{ 
    @include min-screen(1024px) {
     display: flex;
    flex-wrap: wrap;
    }
  }
}
